# Bitquery Configuration
BITQUERY_OAUTH_TOKEN=ory_at_YwN3Iq67GExgq69dvBTi_6edtSg0EzekVbWJxFis2RQ.sBXCIUDQ5g7GE2OOEhU4zH3j3d7I9syKNeW-eksIdj8

# Token Configuration (example: BTC on Ethereum)
TOKEN_ADDRESS=0x2260fac5e5542a773aa44fbcfedf7c193bc2c599

# Bot Settings
SPREAD_THRESHOLD=10
BUFFER_SIZE=20
